div{
    margin: 10px;
    position: fixed;
    top: 0;
}

table,th,td
{
    padding: 2%;
    border: 2px solid rgb(87, 41, 109);
    min-width: 100px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.281);

}

table{
    background-color: rgb(113, 52, 141);
}

th,td{
    background-color: #cacaca;
}

h2{
    border: 5px outset black ;
    background-color: rgb(161, 161, 161);
}

#aciiDuck{
    display:flex;
    position:fixed;
    bottom: 0;
    right:0;
    flex-flow: column-reverse;
    white-space: pre;
}


